<div style="background-color:rgb(83, 83, 83); color:white; padding-left: 1em; padding-top: 0.5em; padding-bottom: 0.2em">Diese Seite enthält Zitate aus:
<ul>
    <li>
    Rieger, M., & Müsseler, J. (2024). <i>Allgemeine Psychologie</i> (4th ed. 2024). Springer Berlin Heidelberg.
    </li>
    <li>
    Gluck, M. A., Mercado, E., Myers, C., & Mercado, E. I. (2020). <i>Learning and memory: From brain to behavior</i> (Fourth edition). Worth Publishers.
    </li>
    <li>
    Brandstätter, V., Schüler, J., Puca, R. M., & Lozo, L. (2018). <i>Motivation und Emotion: Allgemeine Psychologie für Bachelor</i> (2nd ed. 2018.). Springer Berlin Heidelberg.
    </li>
</ul>
</div>
<br/>