<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <nav class="navbar navbar-light">
      <span class="navbar-brand"></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% for collection in site.collections %}
          {% if collection.label != "posts"  %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ collection.vo_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for doc in collection.docs %}
              {% if doc.published != false %}
              <a class="dropdown-item" href="{{ doc.url | relative_url }}">{{ doc.title }}</a>
              {% endif %}
              {% endfor %}
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
